---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Fonts
$font: "Lucida Console", Monaco, monospace;

// Colors
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);

$cream: #E9F3D9;
$dark-cream: #D1DAC3;

$light-grey: #E5E5E5;
$grey: #666666;
$dark-grey: #5B5B5B;
$darkest-grey: #1F1F1F;

$lime: #A1C22D;
$dark-lime: #91AE28;

$green: #89AC10;
$dark-green: #7A9A0E;

$philosofly-gold: #D9A430;
$pebbles-blue: rgb(30, 143, 177);
$socis-red: #CC0101;

// Media device sizing
$max-xs-width: 767px;
$max-sm-width: 991px;
$max-md-width: 1199px;

// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;

// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

html, body {
	height: 100%;
}

hr {
    border-color: $lime;
    margin-top: 30px;
}

img.responsive {
    display: block;
    margin: 0 auto;

    /* Keep aspect ratio without overlapping parent */
    max-width: 95%;
    width: auto\9;
    height: auto;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}

img.grayscale {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);

    -moz-transition: -moz-filter .2s ease-in;
    -o-transition: filter .2s ease-in;
    -webkit-transition: -webkit-filter .2s ease-in;
}
img.grayscale:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
}

// Wraps the the whole page (header and footer included)
#wrap {
	min-height: 100%;
	height: auto !important;
	margin: 0 auto -60px;
}
// Pushes down the footer, creating a margin.
#push {
	height: 40px;
}

#content {
    width: 100%;
    margin-top: 650px;
    text-align: center;

    h2, p {
        font-family: $font;
        text-align: center;
    }

    h2 {
        margin-top: 30px;
        margin-bottom: 50px;
        text-transform: lowercase;
    }

    .image-container {
        position: relative;
        width: 240px;
        height: 240px;
        margin: 0 auto;
        border: 2px solid $lime;
        overflow: hidden;
        margin-bottom: 10px;

        * {
            width: 100%;
            height: 100%;
        }

        a {
            position: absolute;
            z-index: 2;
            line-height: 250px;
            padding: 0 10px;
            font-family: $font;
            color: $lime;
            font-weight: bold;
            font-size: 20px;
            background-color: rgba(0, 0, 0, 0.6);
            text-transform: uppercase;

            -moz-transition: color .1s ease-in;
            -o-transition: color .1s ease-in;
            -webkit-transition: color .1s ease-in;
            -moz-transition: line-height .1s ease-in;
            -o-transition: line-height .1s ease-in;
            -webkit-transition: line-height .1s ease-in;
        }
        a:hover {
            text-decoration: none;
            color: $dark-green;
            line-height: 240px;
        }
    }
}

.freewall-item {
    width: 160px;
    height: 160px;

    img {
        border: 2px solid $lime;
    }
}

.view-resume {
    background-color: #FFF;
    text-transform: uppercase;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 20px;
    padding: 4px 8px;
    font-weight: bold;
    color: #A1C22D;
    border: 1px solid #A1C22D;

    -moz-transition: color .1s ease-in;
    -o-transition: color .1s ease-in;
    -webkit-transition: color .1s ease-in;
    -moz-transition: background-color .1s ease-in;
    -o-transition: background-color .1s ease-in;
    -webkit-transition: background-color .1s ease-in;
}
.view-resume:hover {
    background-color: #A1C22D;
    color: #FFF;
    cursor: pointer;
    text-decoration: none;
}


/*===================================================*/
/* Header styles */
/*===================================================*/
header {
	min-height: 20px;
    padding: 30px 20px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;

    a {
        text-transform: uppercase;
        font-family: $font;
        letter-spacing: 2px;
        color: $white;
        padding-bottom: 5px !important;

        -moz-transition: color .1s ease-in;
        -o-transition: color .1s ease-in;
        -webkit-transition: color .1s ease-in;
    }
    a:hover {
        color: $grey;
        background-color: transparent !important;
    }

    .navbar-brand {
        color: $lime;
        font-weight: bold;
        letter-spacing: 1px;
        font-size: 20px;

        -moz-transition: color .1s ease-in;
        -o-transition: color .1s ease-in;
        -webkit-transition: color .1s ease-in;
    }
    .navbar-brand:hover {
        color: $dark-green;
    }

    .icon-bar {
        background-color: $white;
    }
}

.banner {
    width: 100%;
    height: 600px;
    position: absolute;
    z-index: -2;
    left: 0;
    top: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    border-bottom: 3px solid $lime;

    .banner-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.8);
    }

    .banner-text {
        text-align: center;
        color: $white;
        z-index: 100;
        position: relative;
        margin-top: 300px;
        font-family: $font;

        p {
            text-transform: lowercase;
            margin: 0;
        }

        .banner-big {
            color: $lime;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 30px;
        }
    }

    img {
        display: block;
        margin: 0 auto;
        position: absolute;
        top: -130px;

        /* Keep aspect ratio without overlapping parent */
        max-width: 100%;
        width: auto\9;
        min-width: 800px;
        height: auto;
        vertical-align: middle;
        border: 0;
        -ms-interpolation-mode: bicubic;
    }
}

/*===================================================*/
/* Footer styles */
/*===================================================*/
.footer-break {
    margin-top: 50px;
}

footer {
	background-color: $darkest-grey;
	margin-top: 40px;
    border-top: 2px solid $lime;
    padding: 20px 0 40px;
    text-align: center;

    a {
        font-size: 26px;
        padding: 15px;
        color: $grey;

        -moz-transition: color .1s ease-in;
        -o-transition: color .1s ease-in;
        -webkit-transition: color .1s ease-in;
    }
    a:hover {
        color: $dark-green;
    }

    .footer-social {
        margin-top: 20px;
    }

    .footer-link {
        text-transform: uppercase;
        font-family: $font;
        font-weight: bold;
        color: $lime;
        font-size: 14px;
        padding: 3px 8px;
        margin: 0 5px;
        letter-spacing: 1px;
    }
    .footer-link:hover {
        text-decoration: none;
    }
}

/*===================================================*/
/* Responsive styles */
/*===================================================*/

/* Medium devices */
@media only screen and (max-width: $max-md-width) {
    .banner {
        height: 500px;

        .banner-text {
            margin-top: 250px;
        }

        img {
            top: -80px;
        }
    }

    #content {
        margin-top: 550px;
    }
}

/* Small devices */
@media only screen and (max-width: $max-sm-width) {
    .banner {
        height: 400px;

        .banner-text {
            margin-top: 200px;
        }

        img {
            top: -80px;
        }
    }

    #content {
        margin-top: 425px;

        .image-container {
            width: 180px;
            height: 180px;
        }
    }
}

/* Extra small devices */
@media only screen and (max-width: $max-xs-width) {
    h2 {
        font-size: 24px;
    }

    .banner {
        .banner-text {
            text-align: right;
            padding-right: 20px;
        }
    }

    header {
        .navbar-brand {
            font-size: 16px;
        }
    }

    footer {
        a {
            font-size: 22px;
        }

        .footer-link {
            font-size: 12px;
        }
    }

    #content {
        .image-container {
            width: 100px;
            height: 100px;

            a {
                line-height: 130px;
                font-size: 12px;
            }
            a:hover {
                line-height: 120px;
            }
        }
    }
}
