<footer>
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-xs-8">
			  <p>
			    <a class="footer-btn" href="/">Blog</a>|<a class="footer-btn" href="/about/">About</a>
			    <br>
			    &copy; 2014 Pebbles Games
			  </p>
			</div>
			<div class="col-xs-4">
				<a class="footer-logo" href="/">PebbleS</a>
			</div>
			<div class="col-sm-4 hidden-xs footer-cred">
			  Background by <a target="_blank" href="http://opengameart.org/content/seamless-rock-texture">Etory</a>.
			</div>
		</div>
	</div>
</footer>
