<footer>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<a target="_blank" href="http://philosofly.net/" class="footer-link">Philosofly</a>
				|
				<a target="_blank" href="http://pebblesgames.com/" class="footer-link">Pebbles Games</a>
				|
				<a target="_blank" href="http://socis.ca/" class="footer-link">SOCIS</a>
			</div>
			<div class="footer-social col-xs-12">
				<a target="_blank" href="https://twitter.com/{{ site.twitter_username }}"><i class="fa fa-twitter"></i></a>
				<a target="_blank" href="http://github.com/{{ site.github_username }}"><i class="fa fa-github"></i></a>
				<a target="_blank" href="{{ site.facebook_url }}"><i class="fa fa-facebook"></i></a>
				<a target="_blank" href="{{ site.linkedin_url }}"><i class="fa fa-linkedin"></i></a>
			</div>
		</div>
	</div>
</footer>
